body {
  background-color: #202020;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  width: 800px;
  


}
  #display {
  padding: 10px;
  color: lime;
  font-size: 64px;
  float: left;
  background-color: #1d2e1d;
  }

  #option {
    Width: 120px;
    float: right;

  }