body {
  background-color: #202020;
  color: white;
  font-family: 'Arial';
  width: 520px;
}

#display {
  padding: 0px 10px;
  height: 80px;
  color: lime;
  font-size: 60px;
  background-color: #1f301f;
  border: solid 3px lime;
  border-radius: 10px;
  font-family: 'IBM Plex Mono', monospace;

}

fieldset{
  border-radius: 10px;
  margin-top: 10px;
}

.option {
  float: left;
  width: 122px;
  height: 90px;

}
.box{
  float: left;
  padding-right: 25px;
}

#AmPm{
  margin-top: 10px;
  width: 30px;
  font-size: 22px;
}