body {
  background-color: #202020;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  width: 800px;
}

#display {
padding: 0px 10px 0px 10px;
margin: 10px;
color: lime;
font-size: 64px;
width:430px;
float:left;
background-color: #1f301f;
border: solid 3px lime;
border-radius: 10px;
}

#option {
margin-left: 50px;
Width: 120px;
float: left;
border: solid 3px #cccccc;
padding: 10px;
margin: 10px;
border-radius: 10px;
}
